<section class="console-section">
  <section class="container">
    <section class="head">
        <h1>ng-terminal-emulator</h1>
        <h4>A terminal emulator in Javascript with AngularJS </h4>
    </section>

    <div>
      <!--<section class="terminal terminal-focused">-->
      <section class="terminal">
        <div class="terminal-viewport">

          <!--<div class="terminal-results">-->
              <pre class="terminal-line"> Welcome to vtortola.GitHub.io</pre>
              <pre class="terminal-line"> This is an example of </pre>
              <pre class="terminal-line"> </pre>
              <pre class="terminal-line"> Please type 'help' to open a </pre>
              <br>
              <pre class="terminal-line">anon@\:>eval 'hello':</pre>
              <pre class="terminal-line"> An closing tag can only appear </pre>
              <br>
              <pre class="terminal-line">anon@\:>eval "hello"</pre>
              <pre class="terminal-line"> hello is not defined</pre>
              <br>
              <pre class="terminal-line">anon@\:>eval set a="hello"</pre>
              <pre class="terminal-line"> An opening tag can only appear </pre>
              <br>
              <pre class="terminal-line">anon@\:>eval 3 + 3</pre>
              <pre class="terminal-line"> 6</pre>
              <br>
          <!--</div>-->

          <span class="terminal-prompt"> anon@\:></span>
          <span class="terminal-input">eval 3 + 5</span>
          <!--<span class="terminal-cursor terminal-cursor-hidden">_</span>-->
          <span class="terminal-cursor">_</span>
          <!--<input class="terminal-target" type="text">-->
        </div>
        <!--<div> <p class="click-me">Click me to start commanding! </p> </div>-->
      </section>
    </div>
      
  </section>
</section>
